.container{
    margin-top: 50px;
}
.create-button{
    display: block;
    height: 35px;
}
.all-items{
    margin-top: 20px;
}
.flash-message{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}